.quiz {
  padding: 8rem 1.6rem; //top = altura do header
  margin-top: 1.6rem;
}

.title {
  margin-bottom: 1.6rem;
  font-size: 1.6rem;
}

.feedbackMessage {
  font-size: 1.6rem;
}

.description {
  font-size: 1.6rem;
}

.image {
  position: relative !important;
  height: 150px !important;
  border-radius: 5px;
}

.disableQuestion {
  display: none;
}

.activeQuestion {
  display: block;
}

.answher {
   width: 100%;
  margin: 0.8rem 0;
  & input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
    padding: .5rem;
  }

  & input[type="radio"]:checked+label {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: 4px;
    border-color: var(--color-primary-dark)
  }

  & label {
    display: inline-block;
    padding: .8rem .5rem;
    background-color: var(--color-grey-light-1);
    font-size: 1.6rem;
    border: 2px solid var(--color-primary-light);
    color: var(--color-primary-dark);
    border-radius: 4px;
    width: 100%;
  }

  & input[type="radio"]:focus+label {
    border: 2px dashed #444;
  }

  & label:hover {
    background-color: var(--color-primary);
    color: var(--color-white);
    border-color: var(--color-primary-dark);
  }
}

.tags {
  margin: 1rem 0;
}

.tags.tag:last-child {
  margin-right: 0;
}

.tag {
  font-family: 'Open sans';
  background-color: var(--color-primary);
  color: var(--color-white);
  margin-right: 1rem;
  padding: .3rem;
  font-size: 1.6rem;
  border-radius: 5px;
}

.buttonBox {
  display: flex;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: .8rem 1.6rem;
  font-size: 1.6rem;
  cursor: pointer;
  border: none;
  background-color: var(--color-primary);
  color: var(--text-color-dark);
  text-transform: uppercase;
  margin-top: .8rem;
  border-radius: 5px;
  margin-right: 2.4rem;

  & svg {
    margin-left: .8rem;
  }
}

.buttonOnlyIcon svg{
  margin: 0
}

.right {
  float: right;
}

.markerQuestionBox {
  display: flex;
  flex-direction: row;
  margin: 1.6rem 0;
  width: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
}

.markerQuestionBox::-webkit-scrollbar {
  width: 0px;
}

.markerQuestion:first-child {
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.markerQuestion:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.markerQuestion {
  padding: .8rem;
  width: 3.2rem;
  text-align: center;
  font-size: 1.6rem;
}

.Neutral {
  background-color: var(--color-grey-light-4);
}

.Correct {
  background-color: var(--color-secondary);
  color: var(--text-color-light);
}

.Incorrect {
  background-color: var(--color-red-error);
  color: var(--text-color-light);
}

.Selected {
  background-color: var(--color-primary);
  color: var(--text-color-light);
}


.auxMXSm {
  margin: 1.6rem 0;
}

.auxMTSm {
  margin-top: 1.6rem;
}

.link {
  text-decoration: none;
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.link:visited {
  color: var(--color-secondary-dark)
}

.toastContainer {
  font-size: 1.6rem;
}

.toast {
  color: var(--text-color-dark);
}
