.highlightBox {
  padding: 8rem 1.6rem; 
}

.title {
  margin-top: 1.6rem;
  grid: 0;
}

.image {
  position: relative !important;
  height: 150px !important;
  border-radius: 5px;
  margin-top: .8rem;
}

.highlightItem {
  box-shadow: var(--shadow-light);
  padding: 0.8rem;
  position: relative;
  display: flex;
  flex-direction: column;
}

.highlightItemTitle { 
  margin-bottom: .8rem;
}

.highlightItemDescription {
  font-size: 1.4rem;
}

.button {
  align-self: flex-end;
  padding: .8rem 1.6rem;
  border: none;
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--text-color-light);
  font-weight: bold;
  border-radius: 5px;
  font-size: 1.6rem;
  margin: .8rem 0;
}

.titleBox {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.badge {
  position: relative;
}

.badgeIcon {
  position: absolute;
  right: 10px;
  color: var(--color-primary);
}

.badgeCount {
  position: absolute;
  top: -5px;
  right: 3px;
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--color-primary-dark);
}

.green {
  color: var(--color-secondary-dark);
  font-weight: bold;
}

.yellow {
  color: var(--color-tertiary);
  font-weight: bold;
}

.red {
  color: var(--color-red-error);
  font-weight: bold;
}

.amount {
  color: var(--color-primary-dark);
  font-weight: bold;
}

@media only screen and (min-width: 900px)  {
  .highlightBox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.6rem;
  }

  .title {
    grid-column: 1/-1;
  }
  .image {
    height: max-content !important;
    max-height: 32rem;
  }
}