.main {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1.6rem;
  position: relative;
  height: 100vh;
}


.notFound {
  padding: 8rem 1.6rem;
}

.notFoundTitle {
  font-family: 'Bubblegum Sans';
  font-size: 3.2rem;
  text-align: center;
  margin-top: 1.6rem;
}

.notFoundInfo {
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 1.6rem;
}

.notFoundRedirectLink  {
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: 1.6rem;
  align-items: flex-end;
  color: var(--color-primary);
}

.notFoundRedirectLink:visited {
  color: var(--color-primary-dark);
}

.notFoundRedirectLink svg {
  margin-left: .8rem;
}