.header {
  background-color: var(--color-primary);
  height: 8rem;
  display: flex;
  align-items: center;
  padding: .8rem 1.6rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
}

.searchInput {
  padding: .8rem;
  border: 5px;
  font-family: 'Open sans';
  border-radius: 5px;
  color: var(--color-secondary);

  &::placeholder {
    font-family: 'Open sans';
    color: var(--color-secondary);
  }
}

.logo {
  font-size: 32px;
  color: var(--color-secondary-dark)
}