.header {
  background-color: var(--color-primary);
  height: 8rem;
  display: flex;
  align-items: center;
  padding: .8rem 1.6rem;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  & a {
    text-decoration: none;
  }
}

.inputBox {
  width: 70%;
}

.searchInput {
  padding: .8rem;
  border: 5px;
  font-family: 'Open Sans';
  border-radius: 5px;
  color: var(--color-secondary);
  width: 100%;

  &::placeholder {
    font-family: 'Open Sans';
    color: var(--color-secondary);
  }
}

.logo {
  font-size: 32px;
  color: var(--color-secondary-dark)
}

.burguerIcon {
  background: none;
  border: none;
  color: var(--text-color-light)
}

@media only screen and (min-width: 900px) {
  .burguerBox {
    display: none;
  }
}

.selectedItem {
  background-color: var(--color-primary-dark);
}

.logoBox {
  font-size: 2.4rem;
  font-family: "Bubblegum Sans", "Open Sans";
  color: var(--color-white);
  width: 20%;
  text-align: center;
  margin-right: 2.4rem;

  & a {
    color: var(--color-white);
  }
}

@media only screen and (min-width: 900px) {
  .logoBox {
    text-align: left;
  }

  .searchInput {
    max-width: 32rem;
  }

  .inputBox {
    justify-self: flex-end;
    width: 32rem;
  }

  .header {
    justify-content: space-between;
  }
}