.quizItem {
  box-shadow: var(--shadow-light);
  padding: 0.8rem;
  position: relative;
}

.image {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: 150px !important;
  border-radius: 5px;
}

.description {
  font-size: 1.6rem;
  font-family: 'Open Sans';
}

.quizBox {
  position: relative;
  height: 32rem;
}

@media only screen and (min-width: 600px)  {
  .quizItem {
    height: 30rem;
  }

  .image {
    height: 90% !important;
  }
}

@media only screen and (min-width: 900px)  {
}

